* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial; }

body {
  background: #009a97; }

.container {
  width: 100%;
  padding: 0 3%;
  margin: 0 auto; }

@media (min-width: 768px) {
    .container {
      width: 700px; }
      .container br {
        display: none; } }

@media (min-width: 1024px) {
    .container {
      width: 960px;
      padding: 0; } }

@media (min-width: 1140px) {
    .container {
      width: 1000px; } }

@media (min-width: 1440px) {
    .container {
      width: 1330px; } }

@media (min-width: 1140px) {
  .landing .fold {
    height: auto; } }

.landing .fold .fold-inner {
  padding: 35px 0;
  height: 100vh; }

@media (min-width: 1140px) {
    .landing .fold .fold-inner {
      padding: 35px 0; } }

@media (orientation: landscape) {
    .landing .fold .fold-inner {
      height: auto; } }

@media (orientation: portrait) {
    .landing .fold .fold-inner {
      height: 100vh; } }

.landing .fold header h1 {
  color: #ffea7f;
  text-align: center;
  line-height: normal;
  font-size: 8vw; }

@media (min-width: 768px) {
    .landing .fold header h1 {
      font-size: 47px; } }

@media (min-width: 1140px) {
    .landing .fold header h1 {
      font-size: 50px; } }

@media (min-width: 1440px) {
    .landing .fold header h1 {
      font-size: 68px; } }

.landing .fold .video-section {
  margin: auto;
  padding: 5% 0%; }

@media (min-width: 1024px) {
    .landing .fold .video-section {
      display: block;
      padding: 2% 15.125%; } }

.landing .fold .video-section .video {
    border: 3px solid #008a88;
    display: block;
    margin: auto;
    overflow: hidden;
    position: relative; }

.landing .fold .video-section .video .playbutton-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      margin: auto;
      z-index: 11; }

.landing .fold .video-section .video .pausebutton-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      margin: auto;
      z-index: 10; }

.landing .fold .video-section .video .play-button {
      background: #d20000;
      border-radius: 50% / 10%;
      width: 12vh;
      height: 9vh;
      padding: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      margin: auto;
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation: pulseButton 2s infinite ease-out;
              animation: pulseButton 2s infinite ease-out; }

@media (min-width: 768px) {
        .landing .fold .video-section .video .play-button {
          width: 17vh;
          height: 13vh; } }

@media (min-width: 1140px) {
        .landing .fold .video-section .video .play-button {
          display: none; } }

.landing .fold .video-section .video .play-button::before {
        background: inherit;
        border-radius: 6% / 57%;
        bottom: 9%;
        content: "";
        left: -5%;
        position: absolute;
        right: -5%;
        top: 9%; }

.landing .fold .video-section .video .play-button:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0.5vw;
        right: 0;
        width: 0;
        height: 0;
        display: block;
        margin: auto;
        border-top: 2vh solid transparent;
        border-bottom: 2vh solid transparent;
        border-left: 3vh solid white; }

@media (min-width: 768px) {
          .landing .fold .video-section .video .play-button:after {
            border-top: 3vh solid transparent;
            border-bottom: 3vh solid transparent;
            border-left: 5vh solid white; } }

@-webkit-keyframes pulseButton {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes pulseButton {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

.landing .fold .cta-toggle .cta-content p {
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-size: 4.6vw; }

@media (min-width: 768px) {
    .landing .fold .cta-toggle .cta-content p {
      font-size: 18px; } }

@media (min-width: 1024px) {
    .landing .fold .cta-toggle .cta-content p {
      font-size: 24px; } }

@media (min-width: 1140px) {
    .landing .fold .cta-toggle .cta-content p {
      font-size: 32px; } }

.landing .fold .cta-toggle .cta-button-holder {
  text-align: center;
  display: block; }

.landing .fold .cta-toggle .cta-button-holder.hide {
    display: none; }

.landing .fold .cta-toggle .cta-button-holder.show {
    display: block; }

@media (min-width: 1024px) {
    .landing .fold .cta-toggle .cta-button-holder {
      height: 100%; } }

.landing .fold .cta-toggle .cta-button-holder .guarantee {
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    margin: 0px auto 10px; }

@media (min-width: 768px) {
      .landing .fold .cta-toggle .cta-button-holder .guarantee {
        font-size: 28px; } }

@media (min-width: 1024px) {
      .landing .fold .cta-toggle .cta-button-holder .guarantee {
        font-size: 26px;
        margin: 0px auto 20px; } }

.landing .fold .cta-toggle .cta-button-holder .cta-button {
    font-weight: bold;
    background: #fcc819;
    text-decoration: none;
    border-radius: 100px;
    color: #000;
    text-transform: uppercase;
    width: 100%;
    font-size: 25px;
    position: relative;
    padding: 20px 0;
    border-top: 3px solid #edbb19;
    border-bottom: 3px solid #d8aa17;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.3); }

.landing .fold .cta-toggle .cta-button-holder .cta-button.mobile {
      display: inline-block; }

.landing .fold .cta-toggle .cta-button-holder .cta-button.tablet {
      display: none; }

.landing .fold .cta-toggle .cta-button-holder .cta-button.desktop {
      display: none; }

@media (min-width: 768px) {
      .landing .fold .cta-toggle .cta-button-holder .cta-button.mobile {
        display: none; }
      .landing .fold .cta-toggle .cta-button-holder .cta-button.tablet {
        display: inline-block; }
      .landing .fold .cta-toggle .cta-button-holder .cta-button.desktop {
        display: none; } }

@media (min-width: 1140px) {
      .landing .fold .cta-toggle .cta-button-holder .cta-button.mobile {
        display: none; }
      .landing .fold .cta-toggle .cta-button-holder .cta-button.tablet {
        display: none; }
      .landing .fold .cta-toggle .cta-button-holder .cta-button.desktop {
        display: inline-block; } }

.landing .fold .cta-toggle .cta-button-holder .cta-button:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-top: 2px solid #fdd95e;
      border-bottom: 2px solid #f1be19;
      border-radius: 100px; }

.landing .fold .cta-toggle .cta-button-holder .cta-button img {
      width: 20px; }

@media (min-width: 768px) {
        .landing .fold .cta-toggle .cta-button-holder .cta-button img {
          width: auto; } }

@media (min-width: 768px) {
      .landing .fold .cta-toggle .cta-button-holder .cta-button {
        font-size: 50px; } }

@media (min-width: 1024px) {
      .landing .fold .cta-toggle .cta-button-holder .cta-button {
        width: auto;
        font-size: 63px;
        padding: 27px 185px 27px 200px; } }

.landing .fold .cta-toggle .cta-button-holder .credit-cards {
    margin: 20px auto;
    display: block;
    width: 50%;
    padding: 0 10%; }

@media (min-width: 768px) {
      .landing .fold .cta-toggle .cta-button-holder .credit-cards {
        width: auto;
        padding: 0; } }

.landing .science {
  -webkit-box-flex: 1;
          flex: 1 100%;
  background: #fff;
  padding: 70px 0;
  display: none; }

.landing .science h2 {
    font-size: 29px;
    text-align: center;
    margin: 0 0 80px 0;
    color: #009a97; }

.landing .science .references-list {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
            justify-content: space-between; }

.landing .science .references-list li {
      margin: 0 0 40px 0;
      font-size: 16px;
      line-height: normal;
      width: 45%;
      color: #7f7f7f; }

@media (min-width: 1024px) {
    .landing .science {
      display: -webkit-box;
      display: flex;
      -webkit-box-flex: 1;
              flex: 1 100%;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-flow: row wrap; } }

.footer {
  background: #008a88; }

.footer .container {
    width: 100%;
    padding: 0; }

.footer .footer-link {
    position: absolute;
    background: #008381;
    width: 100%;
    left: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transform: translateY(calc(-100%)) translateX(-100%);
            transform: translateY(calc(-100%)) translateX(-100%); }

.footer .footer-link p {
      color: #fff;
      text-align: center; }

.footer .footer-link p a {
        display: block;
        color: #fff;
        text-decoration: none;
        margin: 10px 0; }

.footer .footer-link p a.mobile {
          display: inline-block; }

.footer .footer-link p a.tablet {
          display: none; }

.footer .footer-link p a.desktop {
          display: none; }

@media (min-width: 768px) {
          .footer .footer-link p a.mobile {
            display: none; }
          .footer .footer-link p a.tablet {
            display: inline-block; }
          .footer .footer-link p a.desktop {
            display: none; } }

@media (min-width: 1140px) {
          .footer .footer-link p a.mobile {
            display: none; }
          .footer .footer-link p a.tablet {
            display: none; }
          .footer .footer-link p a.desktop {
            display: inline-block; } }

@media (min-width: 1024px) {
      .footer .footer-link {
        position: relative;
        bottom: 0;
        top: 0;
        background: transparent;
        -webkit-transform: translateY(0) translateX(0);
                transform: translateY(0) translateX(0); }
        .footer .footer-link p {
          display: -webkit-box;
          display: flex;
          -webkit-box-pack: justify;
                  justify-content: space-between;
          padding: 0 0 50px 0; }
          .footer .footer-link p a {
            font-weight: bold;
            color: #808080;
            margin: 0 10px; } }

.footer .desktop-footer-content {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
            align-items: stretch; }

.footer .desktop-footer-content p {
      color: #fff;
      padding: 20px 5% 20px 0;
      width: 75%;
      font-size: 1.5vw; }

@media (min-width: 768px) {
        .footer .desktop-footer-content p {
          font-size: 10px; } }

@media (min-width: 1140px) {
        .footer .desktop-footer-content p {
          font-size: 16px; } }

.footer .desktop-footer-content .hamburger {
      width: 20%;
      padding: 3vw 4vw;
      background: #008381;
      cursor: pointer;
      left: 0;
      top: 0;
      bottom: 0;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-flow: column wrap;
      -webkit-box-pack: center;
              justify-content: center; }

.footer .desktop-footer-content .hamburger .bar {
        -webkit-box-align: center;
                align-items: center;
        display: block;
        width: 8.5vw;
        height: 1vw;
        margin: .75vw auto;
        background: #fff;
        border-radius: 100px;
        -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
        transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
        position: relative;
        top: 0;
        -webkit-transform-origin: 4px 0px;
                transform-origin: 4px 0px; }

.footer .desktop-footer-content .hamburger .bar:first-child {
          -webkit-transform-origin: 0% 0%;
                  transform-origin: 0% 0%; }

.footer .desktop-footer-content .hamburger .bar:last-child {
          -webkit-transform-origin: 0% 100%;
                  transform-origin: 0% 100%; }

@media (min-width: 1024px) {
    .footer {
      background: #f2f2f2;
      padding: 60px 0; } }

@media (min-width: 1024px) and (min-width: 1024px) {
    .footer .container {
      width: 960px;
      padding: 0; } }

@media (min-width: 1024px) and (min-width: 1140px) {
    .footer .container {
      width: 1000px; } }

@media (min-width: 1024px) and (min-width: 1440px) {
    .footer .container {
      width: 1330px; } }

@media (min-width: 1024px) {
      .footer .desktop-footer-content {
        -webkit-box-pack: justify;
                justify-content: space-between; }
        .footer .desktop-footer-content p {
          width: 70%;
          color: #4e4e4e;
          padding: 0; }
        .footer .desktop-footer-content .hamburger {
          display: none; } }

.footer .desktop-footer-content .logo {
    width: 25%;
    align-self: center;
    display: none; }

@media (min-width: 1024px) {
      .footer .desktop-footer-content .logo {
        display: block; } }

.footer.active .footer-link {
    -webkit-transform: translateY(calc(-100%)) translateX(0);
            transform: translateY(calc(-100%)) translateX(0); }

.footer.active .desktop-footer-content .hamburger .bar:nth-child(2) {
    opacity: 0; }

.footer.active .desktop-footer-content .hamburger .bar:first-child {
    -webkit-transform: rotate(45deg) translate(0vw, 0vw);
            transform: rotate(45deg) translate(0vw, 0vw); }

.footer.active .desktop-footer-content .hamburger .bar:last-child {
    -webkit-transform: rotate(-45deg) translate(-0.5vw, 0.7vw);
            transform: rotate(-45deg) translate(-0.5vw, 0.7vw); }

